body {
	font-family: 'Verdana', 'Open Sans', 'sans-serif', 'Arial';
  margin: 0 auto;
  width: 1000px;
  background-color: white;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

header {
	background: url(http://mlecznepodroze.onet.pl/wp-content/uploads/2015/09/NowyJork-zachod-slonca-849x566px-Fotolia_66358333-littleny_S.jpg)center;
	width: auto;
	height: 300px;
	margin: 10px;
	margin: 100px 0 10px;
}

.text-header {
  font-family: Times New Roman;
  font-size: 24px;
  text-align: center;
  color: black;
 }
  
.menu {
  font-family: Verdana;
  font-size: 18px;
  text-align: center;
 }

.categories {
  font-family: Verdana;
  font-size: 14px;
  text-align: left;
}

.article {
  font-family: Verdana;
  font-size: 14px;
  text-align: center;
 }

.advertising {
  font-family: Verdana;
  font-size: 14px;
  text-align: center;
 }
 
footer {
	width: auto;
	height: 75px;
	margin: 100px 0 10px;
	background-color: lightgrey;
	text-align: center;
}

.text-footer {
font-family: Times New Roman;
  font-size: 14px;
  text-align: center;
  color: darkblue;
 }
 